In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [7]:
current_date = "2025-06-28"
last_time = "2025-06-21"

In [23]:
df_emas = pd.read_csv(f"../data/{current_date}/emas.csv")
df_emas = df_emas[["buy", "updated_at"]]
df_emas.rename(columns={'updated_at': 'date'}, inplace=True)

df_emas["date"] = df_emas["date"].apply(lambda x: datetime.datetime.strptime(x[:10], "%Y-%m-%d"))

data = df_emas.sort_values(by='date', ascending=True)
actual = data[-7:]
actual["date"] = actual["date"].astype("str")

/var/folders/f_/6qb27cbx2zzfg90nrc4k14dc0000gn/T/ipykernel_62183/1232910039.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actual["date"] = actual["date"].astype("str")

In [37]:
predict = pd.read_csv(f"../data/{last_time}/predicted_prices.csv")
predict = predict.rename(columns={"Predicted Price": "predict"})

In [38]:
actual

       buy        date
6  1843593  2025-06-22
5  1843180  2025-06-23
4  1838732  2025-06-24
3  1845558  2025-06-25
2  1872029  2025-06-26
1  1861073  2025-06-27
0  1847496  2025-06-28

In [39]:
predict

     predict        Date
0  1876996.1  2025-06-22
1  1879543.8  2025-06-23
2  1882890.6  2025-06-24
3  1886828.6  2025-06-25
4  1891197.2  2025-06-26
5  1895877.8  2025-06-27
6  1900782.5  2025-06-28

In [47]:
combine = pd.merge(actual, predict, left_on='date', right_on='Date', how='inner')
combine = combine[["date", "buy", "predict"]]
combine["error"] = abs(combine["buy"] - combine["predict"])

In [48]:
combine

         date      buy    predict    error
0  2025-06-22  1843593  1876996.1  33403.1
1  2025-06-23  1843180  1879543.8  36363.8
2  2025-06-24  1838732  1882890.6  44158.6
3  2025-06-25  1845558  1886828.6  41270.6
4  2025-06-26  1872029  1891197.2  19168.2
5  2025-06-27  1861073  1895877.8  34804.8
6  2025-06-28  1847496  1900782.5  53286.5